.page-heading{
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 1em;
  text-align: center;
  line-height: 1;

  &:after{
    content: '';
    background: $brandColor;
    width: 70px;
    height: 3px;
    display: block;
    margin: 20px auto 0;
  }
}